<div class="header">
    <div class="header__name">
        <button class="header__btn" mat-raised-button color="warn">Register</button>
    </div>
    <div class="header__status">
        <div class="header-img" [ngStyle]="{'background-image': tuesdayStatus}">
            <span class="status-counter">{{tuesdayCount}}</span>
        </div>
    </div>
    <div class="header__status">
        <div class="header-img" [ngStyle]="{'background-image': thursdayStatus}">
            <span class="status-counter">{{thursdayCount}}</span>
        </div>
    </div>
</div>
<app-player *ngFor="let player of players" [player]="player"></app-player>