.header {
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    padding: 5px 10px;
    &__status {
        justify-self: center;
    }
    &__name {
        display: flex;
    }
    &__btn {
        height: 30px;
        width: 40%;
        align-self: center;
        color: white;
    }
}

.header-img {
    width: 40px;
    height: 40px;
    position: relative;
}

.status-counter {
    color: red;
    position: absolute;
    top: 27px;
    left: 34px;
}