.popup {
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100%;
    &__body {
        display: grid;
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
    }
}

.body-input {
    height: 80px;
}

.body-cbx {
    display: flex;
    gap: 5px;
    align-items: center;
}